* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./imges/pattern.png);
  display: flex;
  margin: 10px;
  align-items: center;
  height: 100vh;
}
.card {
  margin: 100px;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  width: 500px;
  height: 220px;
  background-color: #eee;
  transition: 1s;
  width: 500px;
  height: 220px;
  background-color: #eee;
  box-shadow: 2px 4px 5px rgb(171, 171, 171);
}
img {
  width: 100%;
  margin: -40px 0 ;
}
.content {
  padding: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(22, 25, 107);
  padding: 2px;
}
button {
  border: 25px;
  transition: 5s;
}
.card:hover {
  transform: scale(1.1);
  z-index: 2;
}

button:hover{
    transform: scale(1.1);
    z-index: 2;
}
.sam{
    width: 100%;
    margin: -30px 0;
}